h1 {
  font-size: 3.5em;
  font-weight: 500;
}

h2 {
  font-size: 2.125em;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: .875em;
  font-weight: 400;
}

/* ----- JUMBOTRON ----- */

#jumbotron {
  background: url(../images/pittsburgh.jpg);
  color: #fff;
  padding: 2rem 2rem 7rem;
}

.jumbotron-item {
  display: flex;
  padding: 2rem 0 0;
}

#in {
  border-right: 1px #fff solid;
  padding: 0 1rem 0 0;
}

#out {
  padding: 0 0 0 1rem;
}

/* ----- STATUS SWITCH ----- */

#switch {
  position: relative;
  width: 8rem;
}

#switch-input {
  display: none;
}

#slider {
  background: #fff;
  border-radius: 1rem;
  cursor: pointer;
  left: 0;
  line-height: 1.5;
  padding: .25rem 0;
  position: absolute;
  right: 0;
  transition: .4s;
}

#slider::before {
  background: #115597;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(17,85,151,.3);
  content: '';
  height: 1.5rem;
  left: .25rem;
  position: absolute;
  transition: .4s;
  width: 1.5rem;
}

#posted,
#pending {
  color: #115597;
  font-weight: 700;
  transition: .4s;
}

#posted {
  margin: 0 0 0 3rem;
  opacity: 1;
}

#pending {
  margin: 0 0 0 -5.375rem;
  opacity: 0;
}

#switch-input:checked + #slider::before {
  transform: translateX(6rem);
}

#switch-input:checked + #slider #posted {
  opacity: 0;
}

#switch-input:checked + #slider #pending {
  opacity: 1;
}

/* ----- MANAGE ACCOUNTS AND GROUPS ----- */

#settings {
  align-items: center;
  color: #fff;
/*  cursor: not-allowed;*/
  display: flex;
  font-size: 1em;
  margin: 0 0 0 2rem;
}

#settings-icon {
/*  cursor: not-allowed;*/
  fill: #fff;
  margin: 0 .5rem 0 0;
}

#settings:hover {
  color: #eee;
}

#settings:hover #settings-icon {
  fill: #eee;
}

/* ----- ACCOUNT LIST ----- */

#account-container {
  display: flex;
  margin: -6rem 2rem 1rem;
  overflow-y: hidden;
  padding: 0 0 1rem;
}

/* ----- ACCOUNT BOX ----- */

.account {
  align-items: center;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(89,89,89,.3);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  height: 10rem;
  justify-content: center;
  margin: 1rem;
  position: relative;
  width: 10rem;
}

.account:hover {
  border: 5px solid #0068ac;
}

.account h4 {
  animation: fade-in 1s;
  margin: .5rem 0;
}

.account h5 {
  color: #0068ac;
}

#account-all {
  background: #00518a;
  margin: 1rem 1rem 1rem 0;
}

#account-all h4 {
  color: #fff;
}

#account-all h5 {
  color: #fff;
}

#account-add {
/*  cursor: not-allowed;*/
}

#account-add-icon {
/*  cursor: not-allowed;*/
  height: 4rem;
  margin: 0 0 1.625rem;
}

.negative {
  color: #f00;
}

/* Bottom arrow for account box */
.account-selected {
  border: 5px solid #0068ac;
}

.account-selected::after,
.account-selected::before {
  border: solid transparent;
  content: '';
  left: 50%;
  position: absolute;
  top: 100%;
}

.account-selected::after {
  border-top-color: #fff;
  border-width: 1rem;
  margin: 0 0 0 -1rem;
}

.account-selected::before {
  border-top-color: #0068ac;
  border-width: 1.5rem;
  margin: 0 0 0 -1.5rem;
}

.account-all-selected::after {
  border-top-color: #00518a;
 }

.account-all-selected::before {
  border-top-color: #0068ac;
 }

/* ----- GRID ----- */

#grid {
  align-items: flex-start;
  display: flex;
  padding: 0 2rem 2rem;
}

#left {
  margin: 0 1rem 0 0;
  width: 64%;
}

#right {
  flex: 1 1 auto;
}

article {
  background: #fff;
  border: 1px #d8d8d8 solid;
  padding: 1.25rem;
}

/* ----- ACCOUNT OVERVIEW ----- */

h3.account-name,
#account-tasks {
  color: #0068ac;
}

#balance-container {
  display: flex;
  margin: 1rem 0;
}

#available h5,
#ledger h5 {
  color: #666;
}

#available {
  margin: 0 3rem 0 0;
}

#amount-available,
#amount-ledger {
  margin: .25rem 0 0;
}

/* ----- TRANSACTION TABLE ----- */

th:nth-child(1) {
  width: 6%;
}

th:nth-child(2) {
  width: 28%;
}

th:nth-child(3) {
  width: 14%;
}

th:nth-child(4) {
  width: 14%;
}

th:nth-child(5) {
  width: 14%;
}

th:nth-child(6) {
  width: 14%;
}

th:nth-child(7) {
  width: 10%;
}

th:nth-child(5),
td:nth-child(5) {
  text-align: right;
}

.td-icon {
  height: 1rem;
}

.td-account,
.td-view {
  color: #0068ac;
/*  cursor: not-allowed;*/
  text-decoration: underline;
}

.td-account:hover,
.td-view:hover {
  opacity: .7;
}

#no-transaction {
  animation: fade-in 1s;
  padding: 1rem;
}

/* ----- TASKS ----- */

#right-header {
  display: flex;
  justify-content: space-between;
}

#manage-tasks {
  color: #0275d8;
  font-size: .75em;
}

#manage-tasks:hover {
  color: #014c8c;
}

#task-container {
  display: flex;
  flex-flow: column;
}

.task {
  animation: fade-in 1s;
  background: #fff;
  border: 1px solid #dadada;
  cursor: pointer;
  line-height: 1.6;
  margin: 1.25rem 0 0;
  padding: 1.25rem;
  position: relative;
}

.task:hover {
  outline: 3px solid #0068ac;
}

.repeat {
  bottom: 1.625rem;
  position: absolute;
  right: 1.625rem;
}

/*
.tag-complete {
  border-left: 8px solid #6bb536;
}

.tag-attention {
  border-left: 8px solid #ec6c00;
}

.tag-alert {
  border-left: 8px solid #ce0000;
}

.tag-links {
  border-left: 8px solid #0068ac;
}

.tag-locked {
  border-left: 8px solid #eaeaea;
}

.tag-company {
  border-left: 8px solid #3ec7ff;
}
*/

.task-num {
  color: #777;
  font-size: 1.125em;
  font-weight: 700;
}

.task-name {
  color: #333;
  font-size: 1.625em;
  font-weight: 400;
  margin: 1rem 0 0;
}

.task-details,
.task-due {
  color: #777;
  font-size: 1.125em;
}

#no-tasks {
  animation: fade-in 1s;
  font-weight: 700;
  margin: 1.25rem 0 0;
}

/* ----- TASK MANAGER ----- */

.task-manager-modal-content {
  width: 80rem;
}

#current-tasks,
#suggested-tasks {
  display: grid;
  grid: auto-flow / repeat(4, 1fr);
  grid-gap: 1.25rem;
}

#current-tasks {
  margin: 0 0 2.5rem;
}

#suggested-tasks {
  margin: 0 0 .25rem;
}

#task-add {
  align-items: center;
  display: flex;
  font-size: 1.25em;
  justify-content: center;
  padding: 3.75rem 0;
}

#task-add-icon {
  height: 2.5rem;
  margin: 0 .625rem 0 0;
}

.modal .task {
  margin: 0;
}

.modal .task-name {
  font-size: 1.25em;
}

.modal .task-num,
.modal .task-details,
.modal .task-due {
  font-size: 1em;
}

.modal .repeat {
  bottom: 1.5rem;
  right: 1.5rem;
}

/* ----- FOOTER ----- */

#terms {
/*  cursor: not-allowed;*/
}

#terms:hover {
  text-decoration: underline;
}