@font-face {
  font-family: 'PNC Sans';
  font-weight: 300;
  src: url(../fonts/PNCSans-Light.otf);
}

@font-face {
  font-family: 'PNC Sans';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/PNCSans-LightItalic.otf);
}

@font-face {
  font-family: 'PNC Sans';
  font-weight: 400;
  src: url(../fonts/PNCSans-Regular.otf);
}

@font-face {
  font-family: 'PNC Sans';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/PNCSans-RegularItalic.otf);
}

@font-face {
  font-family: 'PNC Sans';
  font-weight: 500;
  src: url(../fonts/PNCSans-Medium.otf);
}

@font-face {
  font-family: 'PNC Sans';
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/PNCSans-MediumItalic.otf);
}

@font-face {
  font-family: 'PNC Sans';
  font-weight: 700;
  src: url(../fonts/PNCSans-Bold.otf);
}

@font-face {
  font-family: 'PNC Sans';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/PNCSans-BoldItalic.otf);
}

body {
  background: #fafafa;
  font-family: 'PNC Sans', sans-serif;
  margin: 0;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 3.5em;
  font-weight: 500;
}

h2 {
  font-size: 2.125em;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: .875em;
  font-weight: 400;
}

a {
  color: #0068ac;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  opacity: .7;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ----- HEADER ----- */

header {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  padding: 0 1rem;
}

.nav-item {
  align-items: center;
  display: flex;
}

.icon {
  cursor: pointer;
}

/* ----- HEADER LEFT ----- */

#menu-icon {
  fill: #00518a;
}

#menu-icon:hover {
  fill: #ec6c00;
}

#logo {
  height: 2rem;
  margin: 0 0 0 1rem;
}

/* ----- HEADER RIGHT ----- */

#user {
  margin: 0 1rem 0 0;
  text-align: right;
}

#full-name {
  font-weight: 500;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

button:focus {
  outline: none;
}

#log-out {
  color: #0275d8;
  font-size: .75em;
  font-weight: 500;
}

#log-out:hover {
  color: #014c8c;
}

#user-icon {
  fill: #0275d8;
}

#user-icon:hover {
  fill: #014c8c;
}

/* ----- MAIN CONTENT ----- */

main {
  padding: 4rem 0 0;
}

/* ----- JUMBOTRON ----- */

#jumbotron {
  background: url(../images/pittsburgh.jpg);
  color: #fff;
  padding: 2rem 2rem 7rem;
}

.jumbotron-item {
  display: flex;
  padding: 2rem 0 0;
}

#in {
  border-right: 1px #fff solid;
  padding: 0 1rem 0 0;
}

#out {
  padding: 0 0 0 1rem;
}

/* ----- STATUS TOGGLE SWITCH ----- */

#switch {
  position: relative;
  user-select: none;
  width: 8rem;
}

#switch input {
  display: none;
}

#slider {
  background: #fff;
  border-radius: 1rem;
  bottom: 0;
  cursor: pointer;
  left: 0;
  line-height: 1.5;
  padding: .25rem 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

#slider:before {
  background: #115597;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
  content: '';
  height: 1.5rem;
  left: .25rem;
  position: absolute;
  transition: .4s;
  width: 1.5rem;
}

#posted,
#pending {
  color: #115597;
  font-weight: 700;
  transition: .4s;
}

#posted {
  margin: 0 0 0 3rem;
  opacity: 1;
}

#pending {
  margin: 0 0 0 -5.25rem;
  opacity: 0;
}

#switch input:checked + #slider:before {
  transform: translateX(6rem);
}

#switch input:checked + #slider #posted {
  opacity: 0;
}

#switch input:checked + #slider #pending {
  opacity: 1;
}

/* ----- MANAGE ACCOUNTS AND GROUPS ----- */

#settings {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 1em;
  font-weight: 500;
  margin: 0 0 0 2rem;
}

#settings-icon {
  fill: #fff;
  margin: 0 .5rem 0 0;
}

#settings:hover {
  color: #eee;
}

#settings:hover #settings-icon {
  fill: #eee;
}

/* ----- ACCOUNT LIST ----- */

#account-container {
  display: flex;
  margin: -6rem 2rem 1rem;
  overflow-y: hidden;
  padding: 0 0 1rem;
}

/* ----- ACCOUNT BOX ----- */

.account {
  align-items: center;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  height: 10rem;
  justify-content: center;
  margin: 1rem;
  position: relative;
  width: 10rem;
}

.account:hover {
  border: 5px solid #0068ac;
}

.account h4 {
  animation: fade-in 1s;
  margin: .5rem 0;
}

.account h5 {
  color: #0068ac;
}

#account-all {
  background: #00518a;
  margin: 1rem 1rem 1rem 0;
}

#account-all h4 {
  color: #fff;
}

#account-all h5 {
  color: #fff;
}

#add-icon {
  height: 4rem;
  margin: 0 0 1.625rem;
}

.negative {
  color: #f00;
}

/* Bottom arrow for account box */
.account-selected {
  border: 5px solid #0068ac;
}

.account-selected:after,
.account-selected:before {
  border: solid transparent;
  content: '';
  left: 50%;
  position: absolute;
  top: 100%;
}

.account-selected:after {
  border-top-color: #fff;
  border-width: 1rem;
  margin-left: -1rem;
}

.account-selected:before {
  border-top-color: #0068ac;
  border-width: 1.5rem;
  margin-left: -1.5rem;
}

/* Bottom arrow for all accounts box */
.account-all-selected {
  border: 5px solid #0068ac;
}

.account-all-selected:after,
.account-all-selected:before {
  border: solid transparent;
  content: '';
  left: 50%;
  position: absolute;
  top: 100%;
}

.account-all-selected:after {
  border-top-color: #00518a;
  border-width: 1rem;
  margin-left: -1rem;
}

.account-all-selected:before {
  border-top-color: #0068ac;
  border-width: 1.5rem;
  margin-left: -1.5rem;
}

/* ----- GRID LAYOUT ----- */

#grid {
  align-items: flex-start;
  display: flex;
  padding: 0 2rem 3rem;
}

#left {
  margin: 0 1rem 0 0;
  width: 64%;
}

#right {
  flex: 1 1 auto;
}

article {
  background: #fff;
  border: 1px #d8d8d8 solid;
  padding: 1.25rem;
}

/* ----- ACCOUNT DETAILS ----- */

#account-name,
#account-tasks {
  color: #0068ac;
}

#balance-container {
  display: flex;
  margin: 1rem 0;
}

#available h5,
#ledger h5 {
  color: #666;
}

#available {
  margin: 0 3rem 0 0;
}

#amount-available,
#amount-ledger {
  margin: .25rem 0 0;
}

/* ----- TRANSACTION TABLE ----- */

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th,
td {
  padding: 1rem;
}

td {
  animation: fade-in 1s;
  vertical-align: top;
}

th {
  border-bottom: 1px solid #d1d4d7;
  text-align: left;
}

th:nth-child(1) {
  width: 6%;
}

th:nth-child(2) {
  width: 28%;
}

th:nth-child(3) {
  width: 14%;
}

th:nth-child(4) {
  width: 14%;
}

th:nth-child(5) {
  width: 14%;
}

th:nth-child(6) {
  width: 14%;
}

th:nth-child(7) {
  width: 10%;
}

th:nth-child(5),
td:nth-child(5) {
  text-align: right;
}

td {
  border-top: 1px solid #eceeef;
}

.td-icon {
  height: 1rem;
}

#no-transaction {
  animation: fade-in 1s;
  padding: 1rem;
}

/* ----- TASKS ----- */

#right-header {
  display: flex;
  justify-content: space-between;
}

#manage-tasks {
  color: #0275d8;
  font-size: .75em;
  font-weight: 500;
}

#manage-tasks:hover {
  color: #014c8c;
}

#task-container {
  display: flex;
  flex-flow: column;
  margin: 1.25rem 0 0;
}

.task {
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
  cursor: pointer;
  line-height: 1.6;
  margin: 1rem 0;
  padding: 1.25rem;
  transition: .2s;
}

.tag-complete {
  border-left: 8px solid #6bb536;
}

.tag-attention {
  border-left: 8px solid #ec6c00;
}

.tag-alert {
  border-left: 8px solid #ce0000;
}

.tag-links {
  border-left: 8px solid #0068ac;
}

.tag-locked {
  border-left: 8px solid #eaeaea;
}

.tag-company {
  border-left: 8px solid #3ec7ff;
}

.task:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
}

.task-num {
  color: #ababab;
  font-size: 1.125em;
  font-weight: 700;
}

.task-name {
  color: #5a5a5a;
  font-size: 1.625em;
  font-weight: 400;
  margin: 1rem 0 0;
}

.task-details,
.task-due {
  color: #a5a5a5;
  font-size: 1.125em;
}

#no-tasks {
  font-weight: 700;
}

/* ----- FOOTER ----- */

footer {
  background: #0068ac;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

#terms {
  color: #fff;
  text-decoration: none;
}

#terms:hover {
  opacity: 1;
  text-decoration: underline;
}

/* ----- HELP BUTTON ----- */

#help {
  align-items: center;
  background: #ec6c00;
  border-radius: 50%;
  bottom: 1.25rem;
  box-shadow: 0 18px 40px -12px rgba(0,0,0,.35);
  cursor: pointer;
  display: flex;
  height: 3.75rem;
  justify-content: center;
  position: fixed;
  right: 1.25rem;
  transition: .2s;
  width: 3.75rem;
}

#help:hover {
  background: #ed7a19;
}

#help:active {
  background: #ec6c00;
}

#help-icon,
#help-close-icon {
  fill: #fff;
}

#help-close-icon {
  display: none;
}

#help-container {
  background: #fff;
  border-radius: 8px;
  bottom: 6.25rem;
  box-shadow: 0 18px 40px -12px rgba(0,0,0,.35);
  height: calc(100% - 7.5rem);
  max-height: 44rem;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  right: 1.25rem;
  transition: .2s;
  visibility: hidden;
  width: 23.5rem;
  z-index: 2;
}

#help-title {
  background: #00518a;
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
  padding: 1.25rem;
}