@font-face {
  font-family: 'PNC Sans';
  font-weight: 300;
  src: url(../fonts/PNCSans-Light.otf);
}

@font-face {
  font-family: 'PNC Sans';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/PNCSans-LightItalic.otf);
}

@font-face {
  font-family: 'PNC Sans';
  font-weight: 400;
  src: url(../fonts/PNCSans-Regular.otf);
}

@font-face {
  font-family: 'PNC Sans';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/PNCSans-RegularItalic.otf);
}

@font-face {
  font-family: 'PNC Sans';
  font-weight: 500;
  src: url(../fonts/PNCSans-Medium.otf);
}

@font-face {
  font-family: 'PNC Sans';
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/PNCSans-MediumItalic.otf);
}

@font-face {
  font-family: 'PNC Sans';
  font-weight: 700;
  src: url(../fonts/PNCSans-Bold.otf);
}

@font-face {
  font-family: 'PNC Sans';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/PNCSans-BoldItalic.otf);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fafafa;
  font-family: 'PNC Sans', sans-serif;
  margin: 0;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: .2s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ----- HEADER ----- */

header {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#header-container {
  display: flex;
  height: 4.375rem;
  justify-content: space-between;
}

.header-item {
  align-items: center;
  display: flex;
}

.icon {
  cursor: pointer;
  transition: .2s;
}

.hidden {
  display: none;
}

/* ----- LEFT HEADER ITEM ----- */

#menu {
  align-items: center;
  display: flex;
}

#menu-icon,
#menu-close-icon {
  fill: #00518a;
  padding: 1.25rem;
}

#menu-icon:hover,
#menu-close-icon:hover {
  fill: #ec6c00;
}

#logo {
  height: 2rem;
  margin: 0 0 0 .625rem;
}

/* ----- RIGHT HEADER ITEM ----- */

#user {
  text-align: right;
}

#full-name {
  font-weight: 500;
}

#log-out {
  color: #0275d8;
  font-size: .75em;
}

#log-out:hover {
  color: #014c8c;
}

#user-icon {
  fill: #0275d8;
  padding: 1.25rem;
}

#user-icon:hover {
  fill: #014c8c;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'PNC Sans', sans-serif;
  font-weight: 500;
  padding: 0;
  transition: .2s;
}

button:focus {
  outline: none;
}

/* ----- SIDE NAV ----- */

.side-nav-overlay {
  background: #fff9;
  height: calc(100vh - 4.375rem);
  position: fixed;
  top: 4.375rem;
  transition: .2s;
  width: 100%;
  z-index: 2;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

.side-nav {
  background: #fff;
  height: calc(100vh - 4.375rem);
  left: 0;
  overflow: auto;
  position: fixed;
  top: 4.375rem;
  transition: .2s;
  width: 24rem;
  z-index: 2;
}

.slide-left {
  left: -24rem;
}

#big-nav,
#small-nav,
#need-help-group {
  display: flex;
  flex-flow: column;
}

#big-nav {
  padding: 1.875rem 0 0 2.5rem;
}

#small-nav {
  padding: 1.625rem 0 1.875rem 2.5rem;
}

.big-nav-item,
.small-nav-item {
  color: #0068ac;
  margin: .75rem 0;
}

.big-nav-item {
  font-size: 2.375em;
}

.small-nav-item {
  font-size: 1.5em;
}

a.big-nav-item:hover,
a.small-nav-item:hover {
  color: #004979;
}

.need-help-item {
  align-items: center;
  color: #000;
  display: flex;
  margin: .375rem 0 .375rem 1.875rem;
}

.need-help-item:hover {
  text-decoration: underline;
}

.need-help-icon {
  margin: 0 .375rem 0 0;
}

/* ----- MAIN ----- */

main {
  min-height: calc(100vh - 10rem);
  padding: 4.375rem 0 0;
}

/* ----- TABLE ----- */

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th,
td {
  padding: 1rem;
}

th {
  border-bottom: 1px solid #d1d4d7;
  text-align: left;
}

td {
  animation: fade-in 1s;
  border-top: 1px solid #eceeef;
  vertical-align: top;
}

/* ----- FOOTER ----- */

footer {
  align-items: center;
  background: #0068ac;
  color: #fff;
  display: flex;
  height: 5.625rem;
  justify-content: center;
}

/* ----- MODAL ----- */

.modal-overlay {
  background: #0009;
  height: 100%;
  position: fixed;
  top: 0;
  transition: .2s;
  width: 100%;
  z-index: 1;
}

.modal {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  transition: .2s;
  width: 100%;
  z-index: 1;
}

.invisible-slide-down {
  opacity: 0;
  transform: translateY(1rem);
  visibility: hidden;
}

.modal-content {
  background: #fff;
  box-shadow: 0 18px 40px -12px rgba(0,0,0,.2);
  width: 56rem;
}

.modal-header {
  background: #00518a;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1.75rem;
}

.modal-close-icon {
  fill: #fff;
}

.modal-close-icon:hover {
  opacity: .7;
}

.modal-body {
  max-height: calc(100vh - 12rem);
  overflow: auto;
}

.modal h1 {
  font-size: 1.875em;
}

.modal h2 {
  color: #0068ac;
  font-size: 1.5em;
  font-weight: 700;
  padding: 1.75rem 1.75rem 1.25rem;
}

#payee-header {
  padding: 1.75rem 0 1.25rem;
}

#payment-header {
  padding: 1.25rem 0;
}

.input-field {
  border-bottom: 1px solid rgba(0,0,0,.5);
  display: flex;
  flex-flow: column;
}

.input-field label {
  color: rgba(0,0,0,.5);
  font-size: .875em;
  font-weight: 500;
}

.input-field select,
.input-field input {
  font-size: 1.125em;
  font-weight: 500;
}

.input-field input {
  padding: .375rem 0;
}

.input-field select {
  height: 2.25rem;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.input-container {
  display: flex;
}

.input-container select,
.input-container input {
  flex: 1 1 auto;
}

.amount-input {
  text-align: right;
}

.primary-button,
.secondary-button {
  border: 2px solid #0068ac;
  box-shadow: 0 4px 8px 0 rgba(0,104,172,.2);
  font-size: 1em;
  padding: .5rem 0;
  width: 12rem;
}

.primary-button {
  background: #0068ac;
  color: #fff;
}

.secondary-button {
  background: #fff;
  color: #00518a;
}

.primary-button:hover,
.secondary-button:hover {
  background: #215586;
  box-shadow: 0 4px 8px 0 rgba(0,81,138,.2);
  color: #fff;
}

.primary-button-disabled {
  background: #cbcfd2;
  border: 2px solid #cbcfd2;
  color: #0068ac;
  cursor: not-allowed;
}

.primary-button-disabled:hover {
  background: #cbcfd2;
  color: #0068ac;
}

/* ----- PAYMENT MODAL BODY ----- */

.modal-section {
  padding: 0 1.75rem;
}

.modal-section:last-child {
  display: flex;
  justify-content: center;
  margin: 0 0 1.75rem;
}

.modal-row {
  display: grid;
  grid: auto-flow / repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 0 0 1.25rem;
}

.modal-row:last-child {
  margin: 0 0 1.5rem;
}

/* ----- HELP APP ----- */

#help {
  background: #f48024;
  border-radius: 50%;
  bottom: 1.25rem;
  box-shadow: 0 18px 40px -12px rgba(244,128,36,.2);
  cursor: pointer;
  display: flex;
  height: 3.75rem;
  justify-content: center;
  position: fixed;
  right: 1.25rem;
  transition: .2s;
  width: 3.75rem;
  z-index: 1;
}

#help:hover {
  background: #ec6c00;
}

.help-app {
  background: #fff;
  border-radius: 8px;
  bottom: 6.25rem;
  box-shadow: 0 18px 40px -12px rgba(0,0,0,.2);
  display: flex;
  flex-flow: column;
  height: calc(100vh - 7.5rem);
  max-height: 44rem;
  overflow: hidden;
  position: fixed;
  right: 1.25rem;
  transition: .2s;
  width: 20rem;
  z-index: 1;
}

.help-app-header {
  background: #f48024;
  color: #fff;
}

.help-app-header h1 {
  font-size: 1.125em;
  font-weight: 700;
  padding: 1rem 1.5rem;
}

.first-time h1 {
  font-size: 1.375em;
  font-weight: 700;
  padding: 2.25rem 1.5rem .75rem;
}

.first-time p {
  font-size: .875em;
  margin: 0 1.5rem 1.5rem;
}

#help-app-drag {
  cursor: grab;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
}

#help-app-drag:active {
  cursor: grabbing;
}

#help-app-tabs {
  padding: .5rem 1rem;
}

.help-app-tab {
  border-bottom: 2px solid transparent;
  color: rgba(89,89,89,.5);
  cursor: pointer;
  font-size: .75em;
  font-weight: 700;
  margin: 0 .5rem;
  padding: 0 0 .5rem;
  transition: .2s;
}

.help-app-tab:hover {
  color: #595959;
}

.help-app-tab-selected {
  border-bottom: 2px solid #f48024;
  color: #595959;
}

#help-app-body {
  flex: 1 1 auto;
  overflow: auto;
  padding: 1rem;
}

.help-card {
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(136,136,136,.3);
  cursor: pointer;
  margin: 0 0 1rem;
  transition: opacity .2s, visibility .2s;
}

.help-card:last-child {
  margin: 0;
}

.help-card:hover {
  outline: 4px solid #3ec7ff;
}

.help-card h2 {
  color: #585858;
  font-size: 1em;
  padding: 1rem 1rem .5rem;
}

.help-card p {
  color: #585858;
  font-size: .875em;
  line-height: 1.4;
  padding: 0 1rem 1rem;
}

.help-card h3 {
  border-top: 1px solid #f0f0f0;
  color: #f48024;
  font-size: .875em;
  font-weight: 500;
  padding: 1rem;
}

.outline {
  outline: 6px solid #3ec7ff;
}

#help-app-search {
  box-shadow: 0 -2px 8px rgba(187,187,187,.25);
  display: flex;
  padding: 1rem;
}

#search-icon {
  margin: 0 .5rem 0 0;
}

#search-input {
  font-size: .875rem;
  width: 100%;
}

input,
select {
  background: none;
  border: none;
  font-family: 'PNC Sans', sans-serif;
}

input:focus,
select:focus {
  outline: none;
}

input::placeholder {
  color: #949494;
}