h1 {
  font-size: 2.75em;
  font-weight: 500;
}

h2 {
  font-size: 2.5em;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
  font-size: 700;
}

h5 {
  font-size: .75em;
  font-weight: 500;
}

section {
  padding: 0 1.25rem 1.5rem;
}

/* ----- JUMBOTRON ----- */

#jumbotron {
  background: linear-gradient(225deg, #00a1d6 0, #0068ac 100%);
  color: #fff;
}

/* ----- PAYMENTS TAB ----- */

#payments-tab-group {
  border-bottom: 1px solid #fff;
  display: flex;
  margin: 0 0 1rem;
}

#payments-tab-label,
.payments-tab {
  align-items: center;
  display: flex;
  font-weight: 500;
  height: 4rem;
}

#payments-tab-label {
  font-size: 1.25em;
  margin: 0 1.25rem 0 0;
}

.payments-tab {
  margin: 0 1.25rem;
}

.payments-tab:hover {
  opacity: .5;
}

.payments-tab-selected {
  border-bottom: 4px solid #fff;
}

/* ----- PAYMENTS HUB ----- */

#payment-container {
  display: flex;
  margin: 1rem 0 0;
}

#pending {
  margin: 0 3rem 0 0;
}

/* ----- MAKE A PAYMENT ----- */

#payment {
  background: #fff;
  border: 2px solid #00518a;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
  color: #00518a;
  font-size: 1em;
  margin: 1.25rem 0 0;
  padding: .75rem 0;
  width: 12rem;
}

#payment:hover {
  background: #00518a;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.4);
  color: #fff;
}

#payment:active {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

/* ----- PAYMENTS HUB TAB ----- */

#payments-hub-tab-group {
  display: flex;
  margin: 0 0 3rem;
}

.payments-hub-tab {
  align-items: center;
  display: flex;
  font-weight: 700;
  height: 3rem;
  margin: 0 1.25rem;
}

.payments-hub-tab:hover {
  color: #00518a;
}

.payments-hub-tab:first-child {
  margin: 0 1.25rem 0 0;
}

.payments-hub-tab-selected {
  border-bottom: 4px solid #00518a;
  color: #00518a;
}

/* ----- PAYMENTS HUB TAB ----- */

#table-name {
  color: #0068ac;
  margin: 0 0 .5rem;
}

#no-payment {
  animation: fade-in 1s;
  padding: 1rem;
}

/* ----- MODAL ----- */

.modal {
  align-items: center;
  background: #0009;
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: .2s;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

.modal-visible {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background: #fff;
  box-shadow: 0 18px 40px -12px rgba(0,0,0,.35);
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  transform: translateY(1rem);
  transition: .2s;
  width: 64rem;
}

.modal-content-visible {
  transform: translateY(0);
}

.modal-header {
  background: #00518a;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

#modal-close-icon {
  fill: #fff;
}

#modal-close-icon:hover {
  opacity: .7;
}

.modal-body {
  padding: 2rem 2rem 0;
}

.modal-row {
  display: grid;
  grid: auto-flow / repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 0 0 1.25rem;
}

.modal-row:last-child {
  margin: 0;
}

.modal h1,
.modal h2,
.modal label {
  font-weight: 700;
}

.modal h1 {
  font-size: 2em;
}

.modal h2 {
  color: #0068ac;
  font-size: 1.5em;
  margin: 0 0 1.25rem;
}

.input-field {
  border-bottom: 1px solid #bbb;
  display: flex;
  flex-flow: column;
}

.input-field label {
  color: #bbb;
  font-size: .875em;
}

.input-field select,
.input-field input {
  border: none;
  color: #585858;
  font-size: 1.25em;
  font-weight: 500;
}

.input-field select:focus,
.input-field input:focus {
  outline: none;
}

.input-field input {
  padding: .625rem 0;
}

.input-field select {
  background: none;
  height: 2.75rem;
}

.modal-footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

#submit {
  background: #0068ac;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
  color: #fff;
  font-size: 1em;
  padding: .75rem 0;
  width: 12rem;
}

#submit:hover {
  background: #00518a;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.4);
  color: #fff;
}

#submit:active {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}