h1 {
  font-size: 2.75em;
  font-weight: 500;
}

h2 {
  font-size: 2.5em;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
  font-size: 700;
}

h5 {
  font-size: .75em;
  font-weight: 500;
}

section {
  padding: 0 1.25rem 1.5rem;
}

/* ----- JUMBOTRON ----- */

#jumbotron {
  background: linear-gradient(225deg, #00a1d6 0, #0068ac 100%);
  color: #fff;
}

/* ----- PAYMENTS TAB ----- */

#payments-tab-group {
  border-bottom: 1px solid #fff;
  display: flex;
  margin: 0 0 1rem;
}

#payments-tab-label,
.payments-tab {
  align-items: center;
  display: flex;
  font-weight: 500;
  height: 4rem;
}

#payments-tab-label {
  font-size: 1.25em;
  margin: 0 1.25rem 0 0;
}

.payments-tab {
  margin: 0 1.25rem;
}

.payments-tab:hover {
  opacity: .5;
}

.payments-tab-selected {
  border-bottom: 4px solid #fff;
}

/* ----- PAYMENTS HUB ----- */

#payment-container {
  display: flex;
  margin: 1rem 0 0;
}

#pending {
  margin: 0 3rem 0 0;
}

/* ----- MAKE A PAYMENT ----- */

#payment {
  background: #fff;
  border: 2px solid #0068ac;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
  color: #0068ac;
  font-size: 1em;
  margin: 1.25rem 0 0;
  padding: .75rem 0;
  width: 12rem;
}

#payment:hover {
  background: #215586;
  border: 2px solid #01549b;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
  color: #fff;
}

/* ----- PAYMENTS HUB TAB ----- */

#payments-hub-tab-group {
  display: flex;
  margin: 0 0 3rem;
}

.payments-hub-tab {
  align-items: center;
  border-bottom: 4px solid transparent;
  display: flex;
  font-weight: 700;
  height: 3rem;
  margin: 0 1.25rem;
  transition: color .2s;
}

.payments-hub-tab:hover {
  color: #00518a;
}

.payments-hub-tab:first-child {
  margin: 0 1.25rem 0 0;
}

.payments-hub-tab-selected {
  border-bottom: 4px solid #00518a;
  color: #00518a;
}

/* ----- PAYMENTS TABLE ----- */

#payments-table-name {
  color: #0068ac;
  margin: 0 0 .5rem;
}

#payments-table th:nth-child(8),
#payments-table td:nth-child(8) {
  padding: 1rem 3rem 1rem 1rem;
  text-align: right;
}

#no-payment {
  animation: fade-in 1s;
  padding: 1rem;
}

/* ----- PAYMENT MODAL BODY ----- */

.modal-section {
  padding: 0 0 1.75em;
}

.modal-section:last-child {
  display: flex;
  justify-content: center;
  padding: 0;
}

.modal-row {
  display: grid;
  grid: auto-flow / repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 0 0 1.25rem;
}

.modal-row:last-child {
  margin: 0;
}

.input-field {
  border-bottom: 1px solid rgba(0,0,0,.5);
  display: flex;
  flex-flow: column;
}

.input-field label {
  color: rgba(0,0,0,.5);
  font-size: .875em;
  font-weight: 500;
}

.input-field select,
.input-field input {
  border: none;
  font-family: 'PNC Sans', sans-serif;
  font-size: 1.125em;
  font-weight: 500;
}

.input-field select:focus,
.input-field input:focus {
  outline: none;
}

.input-field input {
  padding: .375rem 0;
}

.input-field select {
  background: none;
  height: 2.25rem;
  -moz-appearance: none;
  -webkit-appearance: none;
}

#amount-input {
  text-align: right;
}

#submit {
  background: #0068ac;
  box-shadow: 0 4px 8px 0 rgba(0,104,172,.2);
  color: #fff;
  font-size: 1em;
  padding: .75rem 0;
  width: 12rem;
}

#submit:hover {
  background: #215586;
  box-shadow: 0 4px 8px 0 rgba(0,81,138,.2);
  color: #fff;
}

/* ----- CONFIRMATION MODAL BODY ----- */

#confirmation {
  margin: 0 0 1.25rem;
}

#confirmation-table th:nth-child(5),
#confirmation-table td:nth-child(5) {
  padding: 1rem 4rem 1rem 1rem;
  text-align: right;
}

#confirmation-table td {
  animation: none;
}