h1 {
  font-size: 2.75em;
  font-weight: 500;
}

h2 {
  font-size: 2.5em;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
  font-size: 700;
}

h5 {
  font-size: .75em;
  font-weight: 500;
}

section {
  padding: 0 1.25rem 1.5rem;
}

/* ----- JUMBOTRON ----- */

#jumbotron {
  background: linear-gradient(225deg, #00a1d6 0, #0068ac 100%);
  color: #fff;
}

/* ----- PAYMENTS TAB ----- */

#payments-tab-group {
  border-bottom: 1px solid #fff;
  display: flex;
  margin: 0 0 1rem;
}

#payments-tab-label,
.payments-tab {
  align-items: center;
  display: flex;
  font-weight: 500;
  height: 4rem;
}

#payments-tab-label {
  font-size: 1.25em;
  margin: 0 1.25rem 0 0;
}

.payments-tab {
  margin: 0 1.25rem;
}

.payments-tab:hover {
  opacity: .5;
}

.payments-tab-selected {
  border-bottom: 4px solid #fff;
}

/* ----- PAYMENTS HUB ----- */

#payment-container {
  display: flex;
  margin: 1rem 0 0;
}

#pending {
  margin: 0 3rem 0 0;
}

/* ----- MAKE A PAYMENT ----- */

#payment {
  margin: 1.25rem 0 .25rem;
}

/* ----- PAYMENTS HUB TAB ----- */

#payments-hub-tab-group {
  display: flex;
  margin: 0 0 3rem;
}

.payments-hub-tab {
  align-items: center;
  border-bottom: 4px solid transparent;
  display: flex;
  font-weight: 700;
  height: 3rem;
  margin: 0 1.25rem;
  transition: color .2s;
}

.payments-hub-tab:hover {
  color: #00518a;
}

.payments-hub-tab:first-child {
  margin: 0 1.25rem 0 0;
}

.payments-hub-tab-selected {
  border-bottom: 4px solid #00518a;
  color: #00518a;
}

/* ----- PAYMENTS TABLE ----- */

#payments-table-name {
  color: #0068ac;
  margin: 0 0 .5rem;
}

#payments-table th:nth-child(8),
#payments-table td:nth-child(8) {
  padding: 1rem 3rem 1rem 1rem;
  text-align: right;
}

#no-payment {
  animation: fade-in 1s;
  padding: 1rem;
}

/* ----- CONFIRMATION MODAL BODY ----- */

#confirmation {
  padding: 1.75rem 1.75rem 1.25rem;
}

#confirmation-div {
  padding: 0 1.75rem 1.75rem;
}

#confirmation-table th:nth-child(5),
#confirmation-table td:nth-child(5) {
  padding: 1rem 4rem 1rem 1rem;
  text-align: right;
}

#confirmation-table td {
  animation: none;
}